<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrar Estudiante</title>
</head>
<body>
    <h1>(1) Registrar Nuevo Estudiante</h1>

    <form action="/registrar" method="POST">

        <label>Nombre:</label><br>
        <input type="text" name="nombre" required><br><br>

        <label>Apellido:</label><br>
        <input type="text" name="apellido" required><br><br>

        <label>DNI:</label><br>
        <input type="text" name="dni" required><br><br>

        <label>nota 1:</label><br>
        <input type="number" name="not1" required><br><br>
        
        <label>nota 2:</label><br>
        <input type="number" name="not2" required><br><br>

        <label>nota 3:</label><br>
        <input type="number" name="not3" required><br><br>


        <button type="submit">Guardar Registro</button>
    </form>

    <br><br>
    <a href="{{ url_for('principal') }}">
        <button type="button">Volver al Menú Principal</button>
    </a>
</body>
</html>